// Quasar Stylus Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.styl files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary        = #4267ae
$secondary      = #886a9e
$tertiary       = #ECF0F7
$     = rgba(60, 90, 120, 0.4)
$quinternary    = rgba(10,0,30,0.5)
$accent         = rgba(210, 218, 235, 1) //#dcecf9
$grey-5         = rgb(158, 158, 158)
$disabled       = $tertiary;

$neutral        = #E0E1E2
$positive       = #21aA45

$negative       = #C10015
$info           = #31CCEC
$warning        = #aa6600
$dark           = #1D1D1D
$dark-disabled  = #3e3d3e;
$white          = #ffffff


$borderradius   = 8px
